#splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    text-align: center;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
}

#instruction {
  font-family: 'Megrim';
  color: white;
  font-size: 20px;
}

img {
  width: 250px;
  height: 250px;
}

#game-over {
  margin: auto;
  text-align: center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  font-family: 'Megrim';
  font-size: 100px;
  font-weight: bolder;
  color: white;
  animation-duration: infinite;
  list-style: none;
  position: absolute;

  -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
}

p {
  font-family: 'Megrim';
  color: white;

}

h2 {
  font-family: 'Megrim';
  color: white;
  z-index: 1;
  font-family: 'Megrim';
  font-size: 36px;
  font-weight: bolder;
  color: white;
  animation-duration: 3s;
  list-style: none;

  -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;


}

@-webkit-keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
}

a {
  font-size: 36px;
  color: white;
}
